
#plot-container {
  height: 75vh; /* Or any specific height */
  display: flex;
  flex-direction: column;
}

#plotly-chart {
  flex-grow: 1;
}

#custom-legend {
  display: flex;
  justify-content: space-between;
  max-height: 200px;
  overflow-y: auto;
}

.legend-column {
  width: 48%; /* Adjust as needed */
}

.legend-item {
  display: flex;
  align-items: center;
  margin: 5px 0;
  cursor: pointer;
  padding: 5px;
  transition: opacity 0.3s ease;
}
.legend-item:hover {
  background-color: #f0f0f0;
}

.legend-color {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.legend-text {
  font-size: 14px;
}

.info.legend {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 4px;
  padding: 10px;
  font-size: 14px;
  max-width: 200px; /* Set a maximum width for larger screens */
}

.info.legend .legend-item-map {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.info.legend .legend-item-map i {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

@media (max-width: 768px) {
  .info.legend {
    font-size: 12px;
    padding: 5px;
    max-width: none; /* Allow full width on small screens */
    width: auto; /* Let the width adjust to content */
    right: 10px; /* Adjust position from right edge */
    left: 10px; /* Adjust position from left edge */
    bottom: 10px; /* Move legend to bottom */
    white-space: normal; /* Allow text to wrap */
  }

  .info.legend .legend-item-map {
    margin-bottom: 3px;
  }
}

.custom-tooltip {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.9);
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px;
  font-size: 14px; /* Adjust font size for readability */
  max-width: 200px; /* Prevent tooltips from being too wide */
  word-wrap: break-word; /* Ensure text wraps within the tooltip */
  z-index: 1000;
}
@media (max-width: 768px) {
  .custom-tooltip {
    font-size: 12px; /* Smaller font size for mobile devices */
    max-width: 150px; /* Adjust tooltip width for smaller screens */
    padding: 3px;
  }
}

.slider-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin-top: 5px;
  flex-wrap: wrap;
}

.slider-button {
  padding: 8px 12px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  color: #1d4c82;
  background-color: #f0f0f0;
  cursor: pointer;
}

.slider-button:hover {
  color: #1d4c82;
  background-color: #e0e0e0;
}

.year-display {
  font-weight: bold;
  font-size: 18px;
}

.vertical-bar {
  width: 1px;
  height: 40px;
  background-color: #ccc;
  margin: 0 15px;
}

.year-slider {
  width: 300px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .slider-container {
    flex-direction: column;
    gap: 10px;
  }

  .vertical-bar {
    display: none;
  }

  .year-slider {
    width: 100%;
    max-width: 300px;
  }

  .slider-button {
    padding: 6px 10px;
    font-size: 14px;
  }

  .year-display {
    font-size: 16px;
  }
}
